
body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
background-color: #e3d9df;
}

header {
    background-color: #e3d9df; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
}

.mag {
    color: #CA047B;

font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.black {
    color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.search-bar {
margin: 0 auto; 
width: 15cm; 
background-color: #e4d1dd;
border: 2px solid #ccc; 
border-radius: 15px; 
overflow: hidden; 
}

input {
padding: 8px;
width: 100%; 
border: none; 
border-radius: 15px; 
outline: none; 
}


.login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 50px;
    margin-top: 25px;
}

.login-button button {
    font-family: Inter;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    background-color:#CA047B ;
    border: 1px solid #ccc;
    border-radius: 5px; 
    cursor: pointer;
    
}

.login-button button:hover {
    background-color: #ddd;
}

main {
    padding: 20px;
}

.project-title {
    color: #000; 
    text-align: center;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.project-details {
    display: flex;
  
    margin-top: 10px;
}

.project-details span { 
    margin-left: 110px;
    margin-bottom: 2px;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.project-details_1 {
    display: flex;

    margin-top: 10px;
}
.project-details_1 span {
margin-left: 110px;
    color: #CA047B;
    font-family: Inter; 
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.project-subheading {
    color: #000;
    margin-top: 40px;
    font-family: Inter; 
    font-size: 35px;
    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rectangle-container {
    display: flex;
    gap: 20px; 
    margin-top: 20px;
     
}

.rounded-rectangle {
    margin-left: 35px;
    width: 100px;
    height: 100px; 
    border-radius: 15px; 
    display: flex;
    flex-shrink: 0;
    background: radial-gradient(116.04% 133.12% at 50% 27.34%, rgba(229, 110, 182, 0.81) 0%, rgba(202, 84, 155, 0.81) 24.87%, rgba(183, 80, 142, 0.81) 50.17%, #975B7F 74.98%);
    box-shadow: 4px 8px 14.4px 0px rgba(0, 0, 0, 0.18);
    
}

.block-number {
    margin-top: 100px;
    margin-left: 35px;
    color: rgba(118, 82, 104, 0.81);
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
}

.rectangle-container a {
    text-decoration: none;
    color: inherit; 
}

hr {
border: none;
width: 100%;
margin: 0;
border-top: 2px solid rgba(183, 80, 142, 0.25);
margin-top: 25px; 
margin-bottom: 10px;
padding: 0;
}



.transaction-details {
display: flex;
justify-content: space-between;
padding: 10px; 
text-align: left; 
margin-top: 10px; 
}

.transaction-details span { 
    margin-left: 50px;
    margin-bottom: 2px;
    margin-right: 20px;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.transaction-details_1 {
display: flex;
justify-content: space-between;
padding: 10px; 
text-align: left; 
margin-top: 1px;
margin-right: 2px;
}

.transaction-details_1 span{ 
    margin-left: 115px;
    margin-bottom: 2px;
    color: #CA047B;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.profile-link {
    margin-left: 10px;
    text-decoration: none; 
    color: #CA047B; 
}