body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1049px;
    background-color: #e3d9df;
    display: flex;
    justify-content: center;
   
}

.mag {
    color: #CA047B;
margin-left: 5px;
font-family: sans-serif;
font-size: 90px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 100px;
margin-right: 200px;
}

.black {
    color: #000;
    margin-top: 0.005px;
font-family: sans-serif;
font-size: 90px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.right-panel {
    background-color: #e3d9df;
    flex: 679px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.partition-line {
    border-right: 4px solid #CA047B;
    height: 100vh;
}

.welcome{
    font-size: 30px;
    color: #CA047B;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color:  #CA047B;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ddd;
}

.block-container {
    display: flex;
    gap: 30px;
}

.block {
   
    background-color: #CA047B;
    margin-bottom: 0px;
    margin-left: 5px;
    width: 150px;
    height: 150px; 
    border-radius: 15px; 
    display: flex;
    flex-shrink: 0;
    background: radial-gradient(116.04% 133.12% at 50% 27.34%, rgba(229, 110, 182, 0.81) 0%, rgba(202, 84, 155, 0.81) 24.87%, rgba(183, 80, 142, 0.81) 50.17%, #975B7F 74.98%);
    box-shadow: 4px 8px 14.4px 0px rgba(0, 0, 0, 0.18);
    margin-top: 200px;
}



.password-form{
    display: flex;
    justify-content: space-between;
    width: 300px; 
    margin-bottom: 20px;
    gap: 5px;
}

.password-form input {
    width: 40px; 
    height: 40px; 
    text-align: center;
    font-size: 25px; 
    border: 1px solid black;
    border-radius: 5px;
    

}